{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CELESTE MUSIC</title>
        <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
    </head>
    <body>
        <header>
            <img class="logo" src="{% static 'music/logo.jpg' %}" alt="logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'browse' %}">Browse</a></li>
                    <li><a href="{% url 'support' %}">Support</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
            </nav>
        </header>
        {% block body %} 
        {% endblock %}
    </body>
</html>