{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CELESTE MUSIC</title>
        <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/sidebar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/music-player.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/homescreen.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/login.css' %}">

        <!--Satistfy Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

        <!--Abril Fatface Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

        <!--Roboto Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <script type="text/javascript" src="{% static 'music/script.js' %}"></script>
    </head>
    <body>
        <header class="main-header">
            <div class="left-section-header">
                <button class="logo-button">
                    <img class="logo" src="{% static 'music/logo/logo.jpg' %}" title="Log Out" alt="logo">
                    <p class="logo-title">Celesete Music</p>
                </button>   
            </div>
            <div class="middle-section-header">
                <input id="search-song-input" list="search-songs" class="search-bar" placeholder="Find Songs?" onkeydown="search(this)">
                <datalist id="search-songs" >
                    {% for song in songs %}
                    <option id="{{ song.title }} by {{ song.artist.username }}" value="{{ song.title }} by {{ song.artist.username }}" data-title="{{ song.title }}" data-artist="{{ song.artist }}" data-image="{{ song.image.url }}" data-audio="{{ song.audio.url }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="right-section-header">
                <button class="contact-button">
                    Contact
                </button>
                <button class="upload-button">
                    <a href="{% url 'upload' %}">
                        <img class="upload-icon" src="{% static 'music/icons/upload.png' %}">
                    </a>
                </button>
                <button class="user-button">
                    <a href="{% url 'logout' %}">
                        <img class="user-icon" src="{{ profilepic }}">
                    </a>
                </button>
            </div>
        </header>
        {% block body %} 
        {% endblock %}
    </body>
</html>