{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CELESTE MUSIC</title>
        <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/sidebar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/music-player.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/homescreen.css' %}">

        <!--Satistfy Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

        <!--Abril Fatface Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

        <!--Roboto Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <!-- Javascript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
        <script type="text/javascript" src="{% static 'music/script.js' %}"></script>

        <script type="text/javascript">
          var title = {{ title|safe }};
          var artist = {{ artist|safe }};
          var image = {{ image|safe }};
          var audio = {{ audio|safe }};
        </script>
        <script type="text/javascript" src="{% static 'music/playlist.js' %}"></script>
    </head>
    <body>
        <header class="main-header">
            <div class="left-section-header">
              <a href="{% url 'index' %}">
                <button class="logo-button">
                  <img class="logo" src="{% static 'music/logo/logo.jpg' %}" title="Log Out" alt="logo">
                  <p class="logo-title">Celesete Music</p>
                </button>   
              </a>
            </div>
            <div class="middle-section-header">
                <input id="search-song-input" list="search-songs" class="search-bar" placeholder="Find Songs?" onkeydown="search(this)">
                <datalist id="search-songs" >
                    {% for song in songs %}
                    <option id="{{ song.title }} by {{ song.artist.username }}" value="{{ song.title }} by {{ song.artist.username }}" data-title="{{ song.title }}" data-artist="{{ song.artist }}" data-image="{{ song.image.url }}" data-audio="{{ song.audio.url }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="right-section-header">
                <button class="contact-button">
                  <a href="{% url 'contact' %}" onclick="hideMusicplayer()">
                    Contact
                  </a>
                </button>
                <button class="upload-button">
                    <a href="{% url 'upload' %}">
                        <img class="upload-icon" src="{% static 'music/icons/upload.png' %}">
                    </a>
                </button>
                <div class="dropdown" onmouseleave="dropdown('leave')">
                  <button class="user-button" onmouseover="dropdown('hover')">
                    <a href="{% url 'logout' %}">
                        <img class="user-icon" src="{{ profilepic }}">
                    </a>
                    <h6 class="username">{{ request.user.username|title }}</h6>
                  </button>
                  <div class="dropdown-content" id="dropdown-content">
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Log Out</a>
                  </div>
                </div>
            </div>
        </header>
        {% block body %} 
        {% endblock %}
        <div class="musicplayer" id="musicplayer">
            <div class="musicplayer-song-info" id="musicplayer-song-info" onclick="popup()">
              <img class="musicplayer-album-cover" id="musicplayer-album-cover" src="" alt="Click on a song">
              <div class="musicplayer-song-info-text">
              <p class="musicplayer-song-name" id="musicplayer-song-name">Song Title</p>
              <p class="musicplayer-song-artists" id="musicplayer-song-artists">Artist</p>
              </div>     
            </div>
        
            <div class="musicplayer-control-buttons-container" id="musicplayer-control-buttons-container">
              <button class="musicplayer-control-buttons" onclick="changeSong('prev')">
                <img class="musicplayer-icons" src="{% static 'music/musicplayer-icons/previous.png' %}">
              </button>
              <button class="pause-button" id="pause-button" onclick="pauseplay()">
                <img class="pause-icon" id="pauseplay-image" src="{% static 'music/musicplayer-icons/play.png' %}">
                <audio id="audio" src=""></audio>
              </button>
              <button class="musicplayer-control-buttons" onclick="changeSong('next')">
                <img class="musicplayer-icons" src="{% static 'music/musicplayer-icons/next-new.png' %}">
              </button>
            </div>
        
            <div class="musicplayer-extra-buttons-container" id="musicplayer-extra-buttons-container">
              <button class="playlist-button" onclick="popup()">
                <img class="add-playlist-icon" src="{% static 'music/musicplayer-icons-extra/add-playlist.png' %}">
              </button>
        
              <form method="POST" id="like-form">
                <button class="favorite-button" id="favorite-button" name="favorite" value="">
                  <img class="empty-favorite-icon" id="empty-favorite-icon" src="{% static 'music/musicplayer-icons-extra/empty-favorite.png' %}">
                </button>
              </form>
            </div>
          </div>
        
          <div class="underneath-footer" id="underneath-footer">
            <div class="underneath-description">
              <h3>Description:</h3>
              <p>The song is the best song in the world.</p>
              <h3 id="display-likes-count">Likes:</h3>
            </div>
            <div class="input-comment">
              <h3>Comments:</h3>
              <input>
            </div>
            <div class="add-to-playlist" id="add-to-playlist">
              <h3>Add To Playlist</h3>
              {% for list in playlists %}
                <form method="POST" class="playlist-form" data-playlist="{{ list.name }}">
                  {% csrf_token %}
                  <button id="playlist-button" name="playlist" value="{{ list.name }}">&#43; {{ list.name }}</button>
                </form>
              {% endfor %}
              <form method="POST" id="add-playlist-form">
                {% csrf_token %}
                <input type="text" placeholder="New Playlist Name" name="new-playlist-name" id="input-add-playlist" value="">
              </form>
            </div>
            <button class="hide-button" id="hide-button" onclick="closePopup()">Hide</button>
          </div>
    </body>
</html>