{% extends "music/base.html" %}

{% block body %}
    <h1 class="text">Browse</h1>
    <div class="text head">
        <h2 class="genre">Top Music</h2>
        <div class="row">
            {% for song in songs %}
            <div class="scroll">
                <h3>Title: {{ song.title }}</h3>
                <img src="{{ song.image.url }}" alt="image" class="thumbnail">
                <audio controls>
                    <source src="{{ song.audio.url }}" type="audio/mp3">
                </audio>
                <h4>Artists: {{ song.artist }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}