{% extends "music/base.html" %}

{% block body %}
<data id = "data" value="hide"></data>
<div class="contact-body">
<div class="contact-title">
  <p>Contact</p>
</div>

  <div class="contact-introduction">
    <p>Hello, welcome to our contact page!</p>
    <p>If you have any questions, suggestions, or find bugs feel free to contact us here.</p>
  </div>
  <div class="developer-container-container">
    <div class="developer-container">
      <div class="developer-name-container">
        <p class="developer-name">Grace Chen</p>
      </div>
      <div class="developer-contact-container">
        <p class="developer-email">Email - gracechen56607@gmail.com</p>
        <p class="developer-discord">Discord - bluemuffins7954#3322</p>
      </div>
      
    </div>
    
    <div class="developer-container">
      <div class="developer-name-container">
        <p class="developer-name">Ishan V</p>
      </div>
      <div class="developer-contact-container">
        <p class="developer-email">Email - ivcodes101@gmail.com</p>
        <p class="developer-discord">Discord - Green101_#9038</p>
      </div>
    </div>
  </div>

</div>



<!--
<h1>Contact Information</h1>
<h3>Any bugs or suggestions for new features? Please contact:<h3>
<h4>Grace Chen</h4>
<h4>Email: gracechen56607@gmail.com</h4>
<h4>Discord: bluemuffins7954#3322</h4>
<h3>Or:</h3>
<h4>I Forgot Your Name</h4>
<h4>Email:</h4>
<h4>Discord: Green101_#9038</h4>
-->
{% endblock %}