{% extends "music/base.html" %}
{% load static %}

{% block body %}

<!--Side-Bar-->
<div class="sidebar">
  <div class="playlists-container">
    <p class="playlists-title">Playlists</p>
    <div class="all-playlists">
      {% for list in playlists %}
      <a href="{% url 'playlist' list.name %}">
        <p>&#9702; {{ list.name }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="add-playlist">
    <form method="POST" id="add-playlist-form">
      {% csrf_token %}
      <h3 class="add-playlist-title">Add New Playlist</h3>
      <input type="text" placeholder="New Playlist Name" name="new-playlist-name" id="input-add-playlist">
      <button type="submit">Add New Playlist</button>
    </form>
  </div>
  <div class="our-mission-container">
    <div class="our-mission-title">
      Our Mission
    </div>
    <div class="our-mission">
      <p>Celeste Music is a platform designed for YOU to share your own music, and browse songs from undervalued musicians across the globe!</p>
      <p>Listen to songs, upload your music, like and comment on songs, add to your playlists!</p>
    </div>
  </div>
</div>

<div class="index-body">
  <div class="full-homescreen">
    <div class="welcome-message">
      <p>Welcome, {{ request.user.username|title }}</p>
    </div>
    <div class="my-songs-title">
      <p>My Songs</p>
    </div>
    
    <div class="my-songs-main-grid">
      {% for song in songs %}
      {% if song.artist == request.user %}   
      <div class="my-songs-cover" onclick="playmusic('{{ song.title }}', '{{ song.artist }}', '{{ song.image.url }}', '{{ song.audio.url }}', '{{ song.pk }}', '{{ song.description }}', '{{ song.likes }}')">
        <img src="{{ song.image.url }}">
        <div class="my-song-info">
          <div class="my-song-name">{{ song.title }}</div>
          <div class="my-song-artist">{{ song.artist }}</div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
  
      <!-- <div class="more-button-container">
        <button class="more-button">
          <img class="more-icon" src="{% static 'music/icons/more.png' %}" >
        </button>
      </div> -->
    </div>
  
  
    <div class="viral-hits-title">
      <p>Viral Hits</p>
    </div>
  
    <div class="viral-hits-main-grid">
      {% for song in songs %} 
      <div class="my-songs-cover" onclick="playmusic('{{ song.title }}', '{{ song.artist }}', '{{ song.image.url }}', '{{ song.audio.url }}', '{{ song.pk }}', '{{ song.description }}', '{{ song.likes }}')">
        <img src="{{ song.image.url }}">
        <div class="my-song-info">
          <div class="my-song-name">{{ song.title }}</div>
          <div class="my-song-artist">{{ song.artist }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  
    <div class="viral-hits-grid"></div>
    <div class="top-artists-grid"></div>
  </div>

</div>

{% endblock %}