{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CELESTE MUSIC</title>
    </head>
    <body>
        <div>
        <div>
            <img src="{% static 'music/logo/logo.jpg' %}" alt="logo">     
            <h5>Celeste Music</h5>
        </div>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <div>
                <h1>Log In</h1>
                <h3>Username:</h3>
                <input type="text" name="username" placeholder="Username">
                <h3>Password:</h3>
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Log In">
            </div>
        </form>
        <div>
            <p>Do not have an account?:</p>
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>
    </body>
</html>