{% extends "music/base.html" %}

{% block body %}
<h1 class="text">Profile</h1>
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div>
        <h3>Username: {{request.user.username|title}}</h3>
    </div>
    <br>
    <br>
    <div>
        <h3>Update Profile Picture</h3>
        <img class="user-icon" src="{{ profilepic }}">
        <br>
        {{form.profilepic}}
        {{form.errors}}
    </div>
    <input type="submit" value="Save">
</form>
{% endblock %}