{% extends "music/base.html" %}

{% block body %}
<data id = "data" value="hide"></data>
<div class="profile-body">
    <div class="profile-container">
        <h1 class="profile-title">Profile</h1>
    </div>
    <div class="large-container">
        <form enctype="multipart/form-data" method="POST" class="information-container">
            {% csrf_token %}
            <div class="username information-box">
                <h3 class="information-title">Username:</h3>
                <h3 class="information">{{request.user.username|title}}</h3>
            </div>
            <div class="song information-box">
                <h3 class="information-title">Songs:</h3>
                <div class="row-display">
                    {% for song in songs %}
                    <p class="information">{{ song.title }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="like information-box">
                <h3 class="information-title">Total Likes:</h3>
                <p class="information">{{ totalLikes }}</p>
            </div>
            <div class="playlist information-box">
                <h3 class="information-title">Playlists:</h3>
                <div class="row-display">
                    {% for playlist in playlists %}
                    <p class="information">{{ playlist.name }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="profile-picture">
                <img class="user-profilepic" src="{{ profilepic }}">
            </div>
            <div class="profile">
                <h3 class="information-title">Update Profile Picture</h3>
                {{form.profilepic}}
                <input type="submit" value="Save Profile" class="profile-submit-button">
            </div>
        </form>
    </div>
</div>
{% endblock %}