{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CELESTE MUSIC</title>
        <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
    </head>
    <body>
        <div>
        <div class="logo">
            <img class="logo" src="{% static 'music/logo.jpg' %}" alt="logo">     
            <h5 class="text">Celeste Music</h5>
        </div>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <div class="form">
                <h1 class="text">Sign Up</h1>
                {{ form }}
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </body>
</html>