.musicplayer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-top-color: rgb(223, 95, 239);
  border-top-style: solid;
  border-top-width: 1px;
  transition: all 0.25s;
}

.musicplayer-song-info{
  width: 250px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: all 0.25s;
}

.musicplayer-album-cover{
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: rgb(223, 95, 239);
  border-width: 2px;
}

.musicplayer-song-info p{
  font-family: Roboto, Arial;
  margin-left: 20px;
  margin-top: 5px;
  color: white;
  cursor: default;
}

.musicplayer-song-artists{
  font-size: 14px;
}

.musicplayer-control-buttons-container{
  width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  transition: all 0.25s;
}

.musicplayer-control-buttons,
.pause-button{
  cursor: pointer;
  border: none;
  background-color: black;
}

.musicplayer-icons{
  width: 50px;
  opacity: .5;
  transition: opacity 0.15s;
}

.musicplayer-icons:hover{
  opacity: 1;
}

.musicplayer-icons:active{
  opacity: .5;
}


.pause-icon{
  width: 60px;
}

.musicplayer-extra-buttons-container{
  width: 150px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  transition: all 0.25s;
}

.playlist-button,
.favorite-button{
  border: none;
  background-color: black;
  cursor: pointer;
}

.add-playlist-icon{
  width: 42px;
  opacity: 0.5;
  transition: opacity 0.15s;
}

.add-playlist-icon:hover{
  opacity: 1;
}

.empty-favorite-icon{
  width: 42px;
  opacity: 0.5;
  transition: opacity 0.15s;
}

.empty-favorite-icon:hover{
  opacity: 1;
}

/* additional-footer */
.add-to-playlist {
  font-family: Roboto, Arial;
  color: white;
  font-size: 20px;
  grid-area:add-to;
  margin-left:20px;
  overflow:auto;
}

.add-playlist-title{
  color:rgb(223, 95, 239);
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

.add-to-playlist h3{
  color:rgb(223, 95, 239);
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

.add-playlist{
  grid-area: add;
  margin-left:20px;
}
.underneath-description {
  color:white;
  grid-area: description;
  margin-left:20px;
}

.underneath-description h3{
  color:rgb(223, 95, 239);
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

.underneath-description p{
  font-family: Roboto, Arial;
}

.input-comment {
  color:white;
  grid-area:input;
  margin-left:20px;
}
.comment-form{
  display:flex;
  flex-direction: column;
}
.submit-comment{
  margin-top: 5px;
  width: 150px;
  align-self: center;
}
.comment-input{
  border:rgb(223, 95, 239) 1px solid;
  height:50px;
  align-self: center;
  width:400px;
}
.display-comments{
  grid-area: display;
  margin-left:20px;
}
.display-comments h3{
  color:rgb(223, 95, 239);
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

.all-comments{
  color:white;
  font-family: Roboto, Arial;
  height:150px;
  overflow: auto;
}

.all-comments div h6{
  font-size: 10px;
}

.all-comments div p{
  font-size: 25px;
}

.all-comments div{
  border:rgb(223, 95, 239) solid 1px;
  margin-top:5px;
}

.likes {
  grid-area:likes;
  color:rgb(223, 95, 239);
  margin:auto 0;
  margin-left:20px;
}
.likes h3{
  font-family: 'Satisfy', cursive;
  font-size: 60px;
}
.hide-button {
  opacity: 0;
  transition: all 0.25s;
  width:150px;
  margin:auto 0;
  margin-top:8px;
  align-self: center;
}
.underneath-footer {
  display: hidden;
  position: fixed;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "likes display add-to"
  "description display add-to"
  "description input add"
  ;
  width:100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0px;
  z-index: 500;
  background-color: black;
  border-top-color: rgb(223, 95, 239);
  border-top-style: solid;
  border-top-width: 1px;
  transition: all 0.25s;
}
