.sidebar{
  position: fixed;
  top: 70px;
  bottom: 100px;
  left: 0;
  width: 250px;
  z-index: 100;

  background-color: black;
  color: white;
  border-right-color: rgb(223, 95, 239);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(223, 95, 239);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlists-container{
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.playlists-title{
  color: rgb(223, 95, 239);
  margin-top: 15px;
  font-size: 28px;
  font-family: 'Satisfy', cursive;
  cursor:default ;
}

.all-playlists{
  overflow:auto;
}
.all-playlists p{
  margin-top: 15px;
  font-size: 18px;
  transition: color 0.15s;
  cursor: pointer;
  font-family: Abril Fatface, Arial;
  font-weight: 500;
}

.all-playlists p:hover{
  color: rgb(223, 95, 239);
}

.favorite-cointainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite{
  margin-top: 20px;
  margin-right: 22px;
  font-family: Abril Fatface, Arial;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.15s;
  cursor: pointer;
}

.favorite:hover{
  color: rgb(223, 95, 239);
}

.our-mission-container{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

.our-mission-title{
  color: rgb(223, 95, 239);
  font-size: 28px;
  font-family: 'Satisfy', cursive;
  cursor:default ;
}

.our-mission p{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial;
  font-size: 17px;
  cursor: default;
  text-align: center;
  color: rgb(255, 255, 255);
}
