@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

/*bacground*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(60, 58, 58);
}

/*navbar*/
li, a{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(200, 135, 216);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: white;
}

/*text format*/
.text {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
}

/*about page*/
h1 {
    padding: 20px 0px;
}

p {
    padding: 0px 30px;
}

.img1 {
    height: 300px;
    width: 500px;
    padding: 20px 20px;
}
.mission {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

hr.solid {
    border-top: 3px solid black;
}

.button1 {
    background-color:rgb(133, 0, 133);
    color: white;
    width: 180px;
    height: 70px;
    align-self: center;
    padding: 15px 30px;
    border-radius: 5px;
    border:none;
}

.button1:hover {
    background-color:rgb(200, 135, 216); /* Green */
}

.browse {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 0px;
}

/*browse page*/
.head {
    text-align: left;
}

.row {
    display: flex;
    flex-flow: row;
    gap: 20px;
    flex-wrap: wrap;
}

.scroll {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.thumbnail {
    height: 200px;
    width: 200px;
}

.genre {
    text-decoration: underline;
    padding-bottom: 10px;
}