@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

/*background*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*text format*/
.text {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
}

/*about page
h1 {
    padding: 20px 0px;
}

p {
    padding: 0px 30px;
}

.img1 {
    height: 300px;
    width: 500px;
    padding: 20px 20px;
}
.mission {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

hr.solid {
    border-top: 3px solid black;
}

.button1 {
    background-color:rgb(133, 0, 133);
    color: white;
    width: 180px;
    height: 70px;
    align-self: center;
    padding: 15px 30px;
    border-radius: 5px;
    border:none;
}

.button1:hover {
    background-color:rgb(200, 135, 216); Green
}


.browse {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 0px;
}
*/
/*browse page
.head {
    text-align: left;
}

.row {
    display: flex;
    flex-flow: row;
    gap: 20px;
    flex-wrap: wrap;
}

.scroll {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.thumbnail {
    height: 200px;
    width: 200px;
}

.genre {
    text-decoration: underline;
    padding-bottom: 10px;
}
*/

/*login*/
.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    border: 4px solid white;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 30px;
}
.logoname {
    display: flex;
    flex-flow: column;
    align-self: center;
}
.login {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}