/*index page*/
.head {
    text-align: left;
}

.row {
    display: flex;
    flex-flow: row;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-flow: column;
    gap: 20px;
    flex-wrap: wrap;
}

.thumbnail {
    height: 200px;
    width: 200px;
}

.genre {
    text-decoration: underline;
    padding-bottom: 10px;
}

.sidebar {
    background-color: black;
    width: 20%;
    padding: 10px 10px;
    text-align: left;
}